.mar-bot-32 {
  margin-bottom: 3.2rem;
}

.mar-bot-8 {
  margin-bottom: 8px;
}

.mar-bot-55 {
  margin-bottom: 5.5rem;
}

.mar-bot-16 {
  margin-bottom: 1.6rem;
}

.mar-bot-60 {
  margin-bottom: 6rem;
}
